/* >> GLOBAL << */
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: "Karla", sans-serif;
}
body a {
  text-decoration: none;
}
body button {
  cursor: pointer;
}

.genericButton {
  padding: 1rem 2.5rem;
  font-family: "DM Serif Display", serif;
  background: transparent;
}

.sectionContainer {
  width: 80%;
  margin: auto;
}

/* >> HEADER << */
header {
  width: 100%;
  padding: 2rem 0;
  font-family: "DM Serif Display", serif;
}
header .header-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-container nav a, header .header-container nav button {
  font-size: 1.6rem;
  color: #837d87;
  margin-right: 2rem;
  font-weight: 400;
}
header .header-container nav button {
  margin: 0 0 0 2rem;
  border: 2px solid #837d87;
}

/* >> MAIN << */
main {
  width: 100%;
  font-family: "Karla", sans-serif;
}
main section#planView {
  background-color: #2d2640;
  width: 100%;
}
main section#planView div.sectionContainer {
  height: 65rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section#planView div.sectionContainer div.viewPlans {
  width: min(55.2rem, 100%);
  height: 40rem;
}
main section#planView div.sectionContainer div.viewPlans .line {
  background: #fafafa;
  color: transparent;
  margin-bottom: 5rem;
  width: 32%;
  height: 0.1rem;
}
main section#planView div.sectionContainer div.viewPlans article {
  color: #fafafa;
}
main section#planView div.sectionContainer div.viewPlans article h1 {
  font-size: clamp(1rem, 7.2rem, 20vw);
  font-weight: 700;
}
main section#planView div.sectionContainer div.viewPlans article p {
  font-size: 1.6rem;
  line-height: 1.8;
  margin: 2rem 0 3rem;
}
main section#planView div.sectionContainer div.viewPlans button.genericButton {
  border: 2px solid #fafafa;
  color: #fafafa;
  font-size: 1.4rem;
  width: 15rem;
}
main section#planView div.sectionContainer div.familyImg {
  margin-bottom: -30rem;
}
main section#productDescription {
  margin-top: 30rem;
}
main section#productDescription div.sectionContainer h2 {
  font-size: 7rem;
  margin-bottom: 7rem;
}
main section#productDescription div.sectionContainer div.productBenefits {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section#productDescription div.sectionContainer div.productBenefits div.productBenefit {
  width: 32%;
}
main section#productDescription div.sectionContainer div.productBenefits div.productBenefit h3 {
  font-size: 2.4rem;
  margin: 2rem 0;
}
main section#productDescription div.sectionContainer div.productBenefits div.productBenefit p {
  font-size: 1.8rem;
  line-height: 1.8;
  opacity: 0.6;
}
main section#aboutUs {
  height: 20rem;
  margin: 15rem 0;
}
main section#aboutUs div.sectionContainer {
  background-color: #2b272f;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 5rem;
}
main section#aboutUs div.sectionContainer h2 {
  width: 45%;
  font-size: 5rem;
}
main section#aboutUs div.sectionContainer button.genericButton {
  border: 2px solid #fafafa;
  color: #fafafa;
  font-size: 1.4rem;
  width: 15rem;
}

footer {
  background-color: rgba(240, 238, 241, 0.685);
}
footer div.sectionContainer {
  padding: 5rem 0;
}
footer div.sectionContainer div.socialMedias {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer div.sectionContainer div.socialMedias a {
  margin-left: 2rem;
}
footer div.sectionContainer div.line {
  background-color: rgba(173, 173, 173, 0.52);
  color: transparent;
  margin: 2rem 0;
  height: 0.1rem;
}
footer div.sectionContainer div.footerSections {
  display: flex;
}
footer div.sectionContainer div.footerSections div.footerSection {
  width: 40%;
  margin-right: 9rem;
}
footer div.sectionContainer div.footerSections div.footerSection h3 {
  font-size: 1.6rem;
  color: #837d87;
  margin-bottom: 2rem;
}
footer div.sectionContainer div.footerSections div.footerSection a {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  color: #2b272f;
  display: block;
}

/* ============= RESPONSIVE ===================== */
@media (max-width: 425px) {
  header .header-container nav {
    display: none;
  }

  body {
    width: 100%;
  }

  main section {
    width: 90%;
    margin: auto;
  }
  main section#planView div.sectionContainer {
    flex-wrap: wrap-reverse;
    height: auto;
    width: 100%;
    margin: 0;
  }
  main section#planView div.sectionContainer div.viewPlans {
    height: auto;
    padding: 2rem;
    text-align: center;
  }
  main section#planView div.sectionContainer div.viewPlans .line {
    display: none;
  }
  main section#planView div.sectionContainer div.viewPlans article {
    color: #fafafa;
  }
  main section#planView div.sectionContainer div.viewPlans article h1 {
    font-size: 4.2rem;
    font-weight: 700;
  }
  main section#planView div.sectionContainer div.viewPlans article p {
    font-size: 1.6rem;
  }
  main section#planView div.sectionContainer div.familyImg {
    margin-bottom: 0;
    width: 100%;
  }
  main section#planView div.sectionContainer div.familyImg img {
    width: 100%;
  }
  main section#productDescription {
    margin-top: 10vh;
    width: 100%;
  }
  main section#productDescription div.sectionContainer {
    text-align: center;
    width: 100%;
  }
  main section#productDescription div.sectionContainer div.productBenefits {
    flex-wrap: wrap;
  }
  main section#productDescription div.sectionContainer div.productBenefits div.productBenefit {
    width: 100%;
    margin: 2rem 0;
  }
  main section#aboutUs {
    width: 90%;
    height: auto;
    margin: 0 auto 15rem;
  }
  main section#aboutUs div.sectionContainer {
    width: 100%;
    height: auto;
    padding: 5rem 2rem;
    flex-wrap: wrap;
    text-align: center;
  }
  main section#aboutUs div.sectionContainer h2 {
    font-size: 3.6rem;
    width: 100%;
    margin-bottom: 4rem;
  }
  main section#aboutUs div.sectionContainer button {
    margin: auto;
  }

  footer div.sectionContainer div.socialMedias {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer div.sectionContainer div.socialMedias > img {
    width: 40%;
    margin-bottom: 4rem;
  }
  footer div.sectionContainer div.socialMedias div.medias {
    width: 61%;
  }
  footer div.sectionContainer div.footerSections {
    flex-wrap: wrap;
  }
  footer div.sectionContainer div.footerSections div.footerSection {
    width: 100%;
    margin: 0 auto 2rem;
    text-align: center;
  }
}

/*# sourceMappingURL=converted.css.map */
