/* >> GLOBAL << */

$Very-Dark-Violet: hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Very-Light-Gray: hsl(0, 0%, 98%);

$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
}


body {
    width: 100%;
    font-family: 'Karla', sans-serif;
    a {
        text-decoration: none;
    }

    button {
        cursor: pointer;
    }
}

.genericButton {
    padding: 1rem 2.5rem;
    font-family: 'DM Serif Display', serif;
    background: transparent;
    transition: .5s all;
    transform: scale(1)  
}

.genericButton:hover {
    transition: .5s all;
    transform: scale(1.05);
}

.genericButton.whiteButton:hover {
    border: 2px solid $Very-Dark-Violet;
    background-color: $Very-Dark-Violet;
    color: $Very-Light-Gray;
}

button.genericButton.blackButton:hover {
    border: 2px solid $Very-Light-Gray;
    background: $Very-Light-Gray;
    color: $Very-Dark-Violet;
}

.sectionContainer {
    width: 80%;
    margin: auto;
}
/* >> HEADER << */
header {
    width: 100%;
    padding: 2rem 0;
    font-family: 'DM Serif Display', serif;

    .header-container {
        width: 80%;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        nav {
            a, button{
                font-size: 1.6rem;
                color: $Dark-Grayish-Violet;
                margin-right: 2rem;
                font-weight: 400;
            }

            a:hover {
                color: $Very-Dark-Violet;
            } 

            button {
                margin: 0 0 0 2rem;
                border: 2px solid $Dark-Grayish-Violet;
            }
        }

        nav#mobileVersion {
            display: none;
        }
    }
}


/* >> MAIN << */
main {
    width: 100%;
    font-family: 'Karla', sans-serif;

    section#planView {
        background-color: $Dark-Violet;
        width: 100%;

        div.sectionContainer {
            height: 65rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            div.viewPlans {
                width: min(55.2rem, 100%);
                height: 40rem;
    
                .line {
                    background: $Very-Light-Gray;
                    color: transparent;
                    margin-bottom: 5rem;
    
                    width: 32%;
                    height: .1rem;
                }
    
                article {
                    color: $Very-Light-Gray;
    
                    h1 {
                        font-size: clamp(1rem, 7.2rem, 20vw);
                        font-weight: 700;
                    }
    
                    p {
                        font-size: 1.6rem;
                        line-height: 1.8;
                        margin: 2rem 0 3rem;
                        
                    }
                }
    
                button.genericButton {
                    border: 2px solid $Very-Light-Gray;
                    color: $Very-Light-Gray;
                    font-size: 1.4rem;
                    width: 15rem;
                }

                button.genericButton.blackButton:hover {
                    border: 2px solid $Very-Light-Gray;
                    background: $Very-Light-Gray;
                    color: $Very-Dark-Violet;
                }
            }
    
            div.familyImg {
                margin-bottom: -30rem;

                img#familyMobile {
                    display: none;
                }
            }
        }

        
    }

    section#productDescription {
        margin-top: 30rem;

        div.sectionContainer {
                h2 {                 
                    font-size: 7rem;
                    margin-bottom: 7rem;
                }

                div.productBenefits {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    div.productBenefit {
                        width: 32%;

                        h3 {
                            font-size: 2.4rem;
                            margin: 2rem 0;
                        }

                        p {
                            font-size: 1.8rem;
                            line-height: 1.8;
                            opacity: 0.6;
                        }
                    }
                }

            
        }
    }

    section#aboutUs {
        height: 20rem;
        margin: 15rem 0;

        div.sectionContainer{
            background-color: $Very-Dark-Violet;
            color: $Very-Light-Gray;

            display:flex;
            align-items: center;
            justify-content: space-between;

            height: 100%;
            padding: 0 5rem;

            h2 {
                width: 45%;
                font-size: 5.0rem;
            }

            button.genericButton{
                border: 2px solid $Very-Light-Gray;
                color: $Very-Light-Gray;
                font-size: 1.4rem;
                width: 15rem;
            }

            button.genericButton.blackButton:hover {
                border: 2px solid $Very-Light-Gray;
                background: $Very-Light-Gray;
                color: $Very-Dark-Violet;
            }
            
        }  
    }
}

footer {
    background-color: rgba(240, 238, 241, 0.685);

    div.sectionContainer {
         padding: 5rem 0;

         div.socialMedias {
             display: flex;
             align-items: center;
             justify-content: space-between;

             a {
                 margin-left: 2rem;
             }
         }

         div.line {
            background-color:  rgba(173, 173, 173, 0.52);
            color: transparent;
            margin: 2rem 0;
            height: 0.1rem;
         }

         div.footerSections {
            display: flex;
            

            div.footerSection {
                width: 40%;
                margin-right: 9rem;

                h3 {    
                    font-size: 1.6rem;
                    color: $Dark-Grayish-Violet;
                    margin-bottom: 2rem;
                }

                a {
                    margin-bottom: .8rem;
                    font-size: 1.4rem;
                    color: $Very-Dark-Violet;  
                    display: block;
                }

                a:hover {
                    text-decoration: underline;
                }
                
            }
         }
    }
}
/* ============= RESPONSIVE ===================== */
@media(max-width: 1200px) and (min-width: 701px  ) {
        main {
            text-align: center;

            section#planView {
                width: 100%;


                div.sectionContainer {
                    width: 100%;
                    flex-wrap: wrap;

                   div.viewPlans {
                       width: 80%;
                       margin: 0 auto 3rem;
                   }

                   div.familyImg {
                       margin: auto;
                   }
                }
            }

            section#productDescription {
                margin: 50rem 0 0;
            }
        }
}

@media(max-width: 700px) {
    header {
        height: 10vh;

        .header-container {
            nav#desktopVersion {
                display: none;
            }

            nav#mobileVersion {
                display: block;

                button {
                    border: none;
                }

                div.modal-options {
                    z-index: 999;
                    position: fixed;
                    inset: 0;

                    margin-top: 10vh;
                    padding: 0 2rem;
                    height: 90vh;

                    opacity: 0;
                    visibility: hidden;
                }

                div.modal-options.open { 
                    opacity: 1;
                    visibility: visible;
                    background-color: $Very-Dark-Violet;

                    button {
                        display: block;
                        margin: 5rem auto;
                        border: 2px solid transparent;
                        padding: 2rem 0;
                        width: 100%;

                        font-size: 1.8rem;
                        background-color: transparent;
                        color: $Very-Light-Gray;         
                    }

                    button:hover {
                        border: 2px solid $Very-Light-Gray;
                    }
                }
            }
        }
    }

    body {
        width: 100%;
    }
    
    main {
        section {
            width: 90%;
            margin: auto;
        }

        section#planView {
            width: 100%;

            div.sectionContainer {
                flex-wrap: wrap-reverse;
                height: auto;
                width: 100%;
                margin: 0;
                
                div.viewPlans {
                    height: auto;
                    padding: 2rem;
                    text-align: center;
                    .line {
                        display: none;
                    }

                    article {
                        color: $Very-Light-Gray;
        
                        h1 {
                            font-size: 4.2rem;
                            font-weight: 700;
                        }
        
                        p {
                            font-size: 1.6rem;
                            
                        }
                    }
                }
                div.familyImg {
                    margin-bottom: 0;
                    width: 100%;
                    
                    img {
                        width: 100%;
                    }

                    img#familyDesktop {
                        display: none;
                    }

                    img#familyMobile {
                        display: block
                    }
                }
            }
        }

        section#productDescription {
            margin-top: 10vh;
            width: 100%;

            div.sectionContainer {
                text-align: center;
                width: 100%;

                div.productBenefits{
                    flex-wrap: wrap;
    
                    div.productBenefit {
                        width: 100%;                        
                        margin: 2rem 0;
                    }
                }
            }
        }

        section#aboutUs {
            width:90%;
            height: auto;
            margin:  0 auto 15rem;

            div.sectionContainer {
                width: 100%;
                height: auto;
                padding: 5rem 2rem;

                flex-wrap: wrap;
                text-align: center;

                h2 {
                    font-size: 3.6rem;
                    width: 100%;
                    margin-bottom: 4rem;
                }

                button {
                    margin: auto;
                }
            }
        }
    }

    footer {
        div.sectionContainer {

            div.socialMedias {
                flex-wrap: wrap;
                justify-content: center;
                
                > img {
                    width: 40%;
                    margin-bottom: 4rem;
                }

                div.medias {
                    width: 61%;
                }
            }

            div.footerSections {
                flex-wrap: wrap;

                div.footerSection {
                    width: 100%;
                    margin: 0 auto 2rem;
                    text-align: center;
                }
            }
        }
    }
}  